<button type="button" class="btn btn-default">
  <%= link_to 'New Posting', new_user_posting_path(@user) %>
</button>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Front Page</h1>
  </div>
  <div class="panel-body">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Latest Postings</h3>
      </div>
        <div class="panel-body">

        <% @postings.each do |posting| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5><%= posting.title %></h5>
            </div>
            <div class="panel-body"><%= posting.content %></div>
            <div class="panel-footer">
              by <%= posting.user.name %>
              <span class="pull-right">vote | reply | etc.</span>
            </div>
          </div>

        <% end %>
      </div>
      <div class="panel-footer"></div>
    </div> <!-- Latest Postings body -->
  </div> <!-- Front Page body -->
</div>