<h1>Front Page</h1>

<div class="well">
  <%= link_to 'New Posting', new_user_posting_path(@user) %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Latest Postings
  </div>
  <% @postings.each do |posting| %>
    <div class="panel-body">
      <p><%= posting.title %></p>
      <p><%= posting.content %></p>
      <p><%= posting.user.name %></p>
    </div>
  <% end %>
</div>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> Star
</button>